// bower:scss
// endbower
@import "partials/mixins";
@import "partials/variables";
body {
    
    div.panel-symbol {
        position: relative;
        top:27px;
        left: 16px;
        z-index: 20;
        width: 33px;
        height: 31px;
        line-height: 31px;
        

        @include bg_with_linear_gradient(#{top, #ffffff 0%,#dbf0fb 100%});
        border-radius: 3px;
        box-shadow: 
                0 0 0 1px #d2d7d8,
                0 0 0 2px #c6c8c8,
                0 0 0 3px #fefefd,
                0 0 0 4px #cdcdcc,
                0 0 0 5px rgba(210,230,241,0.4);
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Bitstream Vera Sans Mono';

        > div.inverted {
            position: absolute;
            top: 23%;
            left: 25%;
            height: 20px;
            width: 18px;
            font-size: 15px;
            line-height: 22px;
            background-color: #0d4760;
            color: #e6f3fa;
        }
    }
    
    div.panel-header {
        position: relative;
        width: 100%;
        margin-bottom: 5px;
        padding-left: 67px;
        background-color: $panelHeaderBg;
        @include bg_with_linear_gradient(#{top, $panelBg0 0%, $panelBg1 1px, $panelBg2 5%, $panelBg3 100%});
        outline: 1px solid $panelOut;
        font-family: 'Myriad Pro', 'Lucida Sans', sans-serif;
        height: 35px;
        line-height: 34px;
    }
    
    div.panel-wrapper {
        width: 698px;
        margin-bottom: -9px;
        outline: 1px solid $panelOut;        
    }

    div.panel {
        width: 698px;
        height: 232px;
        overflow: hidden;
        
        > div.panel-title {
            position: absolute;
            z-index: 99;
            left: 410px;
            top: 91px;
            max-width: 200px;
            color: #757575;
            font-family: 'Arial';
            font-size: 10px;           
        }
        
        > div.panel-legend-wrapper {
            position: absolute;
            z-index: 99;
            left:134px;
            top: 248px;
            
            div {
                float: left;
                margin-right: 26px;
                font-family: 'Arial', 'Lucida Sans', sans-serif;
                font-size: 11px;
                    &:before {
                    content: "";
                    position: relative;
                    display: block;
                    float: left;
                    height: 5px;
                    width: 5px;
                    right: 14px;
                    top: 3px;
                    border-radius: 4px;
                    }
            
                &:nth-child(1) {
                    margin-right: 26px;
                    &:before {
                        background-color: #e97441;
                    }
                } 
                
                &:nth-child(2) {
                    margin-right: 38px;
                    &:before {
                        background-color: #2ca009;
                    }
                }
                
                &:nth-child(3) {
                    &:before {
                        background-color: #15a0c8;
                    }
                }
            
            }
        
        }
    
    }

.chart {
    max-width: 700px;
    max-height: 190px;
    float: left;
}
        .inset {
        width: 180px;
        height: 100%;
        font-family: 'Myriad Pro', 'Lucida Sans', sans-serif;
        > * {
            float: right;
            margin-right: 17px;
        }
        
        > div.title-wrapper{
            display: inline-block;
            transform: translateX(-2px);
            padding-top: 17px;
            font-size: 36px;
            color: #05415b;
        
        }
        
        > div.title-wrapper-dolar {
                transform: scaleX(1.1) translateX(-4px);
                &:before {
                content: '$';
                font-size: 17px;
                position: relative;
                left: 8px;
                bottom:12px;
                color: #2f6ca6;
            }
        }
        
         > div.summary {
            clear: both;
            font-size: 11px;
        }
        
        > div.button {
            clear: both;
            margin-top: 73px;
            width: 138px;
            height: 30px;
            font-size: 10px;
            text-align: center;
            line-height: 30px;
            border-radius: 6px;
            background: linear-gradient(to bottom, rgb(30, 188, 234) 0%, rgb(18, 151, 189) 44%, rgb(5, 110, 141) 89%, rgb(4, 108, 138) 93%, rgb(104, 166, 183) 96%, rgb(255, 255, 255) 100%);
            color: #eff9fb;
            font-size: 12px;
            box-shadow: inset 0px 1px 5px 0px rgba(167,227,244,1),
                        0px 3px 1px 0px #bfbfbf;
           }
    }   
    
}


.inset-right {
    float: right;
}

.invisible {
    display: none;
}