$panelHeaderBg: #dbeefc;

$panelOut: #89b8d8;
$panelBg0: #ffffff;
$panelBg1: #f1f9fe;
$panelBg2: #ddeffc;
$panelBg3: #d7ecfb;


$baseLineHeader: 22px;
//$bgColor2: #333333;
//$bgColor3: #91989a;
//$bgColor4: #000000;
//$fontColor1: #aabbcc;
//$fontColor2: #bbccdd;
//$mainBg: hsla(210, 50%, 13%, .1);
//$mainColor: hsla(53, 65%, 48%, .1);
//$mainFont: 'PT Sans';